.main {
  height: 60vh;
  background-image: linear-gradient(
    to bottom,
    var(--primary),
    var(--primary-dark)
  );

  .url-input,
  .url-button {
    color: var(--tertiary) !important;
  }

  .url-response-text {
    cursor: pointer;
    font-weight: bolder;
    color: var(--primary-dark);
  }

  h1 {
    font-weight: bold;
    text-shadow: 2px 2px 2px var(--primary-dark);
  }
}
